{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static 'main.css' %}>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>наш сайт</title>
</head>

<body>
    <div id='x'>
        <div class="head_butt"><a href="inform">О сайте</a></div>
        <div class="head_butt"><a href="">Магазин</a></div>
        <div class="head_butt"><a href="">Помощь</a></div>
        <div class="">gggggg</div>
        
    
    </div>
    <div class="contentblock">
    {% for i in count %}
        <div class="block">
            <img src="{% static '111.jpg' %}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At tempore mollitia placeat architecto sed expedita ut esse impedit, adipisci delectus quo assumenda hic beatae aut cumque, et reprehenderit? Commodi, consequatur.</p>
            <a href="product/">Продукция</a>
            
        </div>
    {% endfor %}
    </div>

    <a href="/about"> перейти в биографию </a>
    
</body>
</html>