{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static 'main.css' %}>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>наш сайт</title>
</head>

<body>
    <h3>hello world</h3>
    <pre id="first" 
    >
        Александр Пушкин
        ЗИМНИЙ ВЕЧЕР
        Буря мглою небо кроет,
        Вихри снежные крутя;
        То, как зверь, она завоет,
        То заплачет, как дитя,
        То по кровле обветшалой
        Вдруг соломой зашумит,
        То, как путник запоздалый,
        К нам в окошко застучит.
        Наша ветхая лачужка
        И печальна и темна.
        Что же ты, моя старушка,
        Приумолкла у окна?
        Или бури завываньем
        Ты, мой друг, утомлена, </pre>
    <pre id="second">
        Или дремлешь под жужжаньем
        Своего веретена?
        Выпьем, добрая подружка
        Бедной юности моей,
        Выпьем с горя; где же кружка?
        Сердцу будет веселей.
        Спой мне песню, как синица
        Тихо за морем жила;
        Спой мне песню, как девица
        За водой поутру шла.
        Буря мглою небо кроет,
        Вихри снежные крутя;
        То, как зверь, она завоет,
        То заплачет, как дитя.
        Выпьем, добрая подружка
        Бедной юности моей,
        Выпьем с горя; где же кружка?
        Сердцу будет веселей. </pre>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus
         soluta vitae itaque sunt praesentium. <br>Doloremque fuga magni tempora! Quis hic eligendi veritatis eius inventore nostrum, dolore fuga reiciendis voluptatum delectus.</p>
    <a href="http://127.0.0.1:8000/"> обратно </a>
</body>
</html>