* {
    margin: 0px;
    text-align:center;
   

}
body {
    background-color: rgba(238, 247, 252, 0.911);
}

#x {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: black;
    color:ghostwhite;
    text-align:center;
    height: 100px ;

    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;

}
#x:hover{ 
   background-color: rgb(126, 120, 120); 
}

#y {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    text-align:center;
    
}

a:link {
    color: #FF0000;
 }
 
 /* просмотренная ссылка */
 a:visited {
    color: #00FF00;
 }
 
 /* наведение мыши на ссылку */
 a:hover {
    color: #FF00FF;
 }


 .S {
     font-size: 100px;
     text-align:center;
 }

 .block {
     height: 90%;
     width: calc(100% - 10px);
     background-color:rgba(162, 217, 247, 0.911) ;
     margin: 10px;

 }
 .contentblock {
     width: 80%;
     margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 }

 .block img {
     height: 100px;
     width: 100px;

 }



 